<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetKeeper</servlet-name>
        <servlet-class>servlets.GetPetKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitDB</servlet-name>
        <servlet-class>servlets.InitDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDB</servlet-name>
        <servlet-class>servlets.DeleteDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ch</servlet-name>
        <servlet-class>servlets.Ch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPetOwner</servlet-name>
        <servlet-class>servlets.myServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>owners</servlet-name>
        <servlet-class>servlets.owners</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>secondServlet</servlet-name>
        <servlet-class>servlets.secondServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>secondServletForLoginPassword</servlet-name>
        <servlet-class>servlets.secondServletForLoginPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>thirdServletForLoginRemoveCookies</servlet-name>
        <servlet-class>servlets.thirdServletForLoginRemoveCookies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>servlets.Edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetsAllOwners</servlet-name>
        <servlet-class>servlets.AdminGetsAllOwners</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteApetKeeper</servlet-name>
        <servlet-class>servlets.DeleteApetKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteApetOwner</servlet-name>
        <servlet-class>servlets.DeleteApetOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNumberOfCats</servlet-name>
        <servlet-class>servlets.GetNumberOfCats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNumberOfDogs</servlet-name>
        <servlet-class>servlets.GetNumberOfDogs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNumberOfOwners</servlet-name>
        <servlet-class>servlets.GetNumberOfOwners</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNuberOfKeepers</servlet-name>
        <servlet-class>database.tables.GetNuberOfKeepers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNumberOfKeepers</servlet-name>
        <servlet-class>servlets.GetNumberOfKeepers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMoney</servlet-name>
        <servlet-class>servlets.GetMoney</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionGPT</servlet-name>
        <servlet-class>servlets.QuestionGPT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionGPTbreed</servlet-name>
        <servlet-class>servlets.QuestionGPTbreed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KeeperSumBookings</servlet-name>
        <servlet-class>servlets.KeeperSumBookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KeeperSumDaysBookings</servlet-name>
        <servlet-class>servlets.KeeperSumDaysBookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeReviews</servlet-name>
        <servlet-class>servlets.SeeReviews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessage</servlet-name>
        <servlet-class>servlets.SendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOwner</servlet-name>
        <servlet-class>servlets.GetOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOwner</servlet-name>
        <servlet-class>servlets.EditOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnPet</servlet-name>
        <servlet-class>servlets.ReturnPet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendReview</servlet-name>
        <servlet-class>servlets.SendReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendR</servlet-name>
        <servlet-class>servlets.SendR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessageToPetKeeper</servlet-name>
        <servlet-class>servlets.SendMessageToPetKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KeepersDate</servlet-name>
        <servlet-class>servlets.KeepersDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendArequestToAkeeper</servlet-name>
        <servlet-class>servlets.SendArequestToAkeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CanDoABooking</servlet-name>
        <servlet-class>servlets.CanDoABooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CanFinishAbooking</servlet-name>
        <servlet-class>servlets.CanFinishAbooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishAbooking</servlet-name>
        <servlet-class>servlets.FinishAbooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HasRequest</servlet-name>
        <servlet-class>servlets.HasRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptRequest</servlet-name>
        <servlet-class>servlets.AcceptRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectRequest</servlet-name>
        <servlet-class>servlets.RejectRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetKeeper</servlet-name>
        <url-pattern>/GetKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitDB</servlet-name>
        <url-pattern>/InitDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDB</servlet-name>
        <url-pattern>/DeleteDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ch</servlet-name>
        <url-pattern>/Ch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPetOwner</servlet-name>
        <url-pattern>/AddPetOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>owners</servlet-name>
        <url-pattern>/owners</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>secondServlet</servlet-name>
        <url-pattern>/secondServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>secondServletForLoginPassword</servlet-name>
        <url-pattern>/secondServletForLoginPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>thirdServletForLoginRemoveCookies</servlet-name>
        <url-pattern>/thirdServletForLoginRemoveCookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetsAllOwners</servlet-name>
        <url-pattern>/AdminGetsAllOwners</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteApetKeeper</servlet-name>
        <url-pattern>/DeleteApetKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteApetOwner</servlet-name>
        <url-pattern>/DeleteApetOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNumberOfCats</servlet-name>
        <url-pattern>/GetNumberOfCats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNumberOfDogs</servlet-name>
        <url-pattern>/GetNumberOfDogs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNumberOfOwners</servlet-name>
        <url-pattern>/GetNumberOfOwners</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNuberOfKeepers</servlet-name>
        <url-pattern>/GetNuberOfKeepers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNumberOfKeepers</servlet-name>
        <url-pattern>/GetNumberOfKeepers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMoney</servlet-name>
        <url-pattern>/GetMoney</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionGPT</servlet-name>
        <url-pattern>/QuestionGPT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionGPTbreed</servlet-name>
        <url-pattern>/QuestionGPTbreed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KeeperSumBookings</servlet-name>
        <url-pattern>/KeeperSumBookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KeeperSumDaysBookings</servlet-name>
        <url-pattern>/KeeperSumDaysBookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeReviews</servlet-name>
        <url-pattern>/SeeReviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessage</servlet-name>
        <url-pattern>/SendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOwner</servlet-name>
        <url-pattern>/GetOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOwner</servlet-name>
        <url-pattern>/EditOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnPet</servlet-name>
        <url-pattern>/ReturnPet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendReview</servlet-name>
        <url-pattern>/SendReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendR</servlet-name>
        <url-pattern>/SendR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessageToPetKeeper</servlet-name>
        <url-pattern>/SendMessageToPetKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KeepersDate</servlet-name>
        <url-pattern>/KeepersDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendArequestToAkeeper</servlet-name>
        <url-pattern>/SendArequestToAkeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CanDoABooking</servlet-name>
        <url-pattern>/CanDoABooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CanFinishAbooking</servlet-name>
        <url-pattern>/CanFinishAbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishAbooking</servlet-name>
        <url-pattern>/FinishAbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HasRequest</servlet-name>
        <url-pattern>/HasRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptRequest</servlet-name>
        <url-pattern>/AcceptRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectRequest</servlet-name>
        <url-pattern>/RejectRequest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
